// External library for standardising across devices
@import "normalize";

// Typography styles
@import "modules/typography";

body {
  background-color: #fafafa;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 50px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.03);
  img {
    width: 125px;
  }
}
@media (max-width: 600px) {
  .container {
    padding: 50px 30px;
  }
}
