$dark-grey: #32353e;
$mid-grey: #57585c;
$light-grey: #fbfcfe;
$orange: #f39c05;

// External library for standardising across devices
@import "normalize";

// Typography styles
@import "modules/typography";

@import "modules/forecast";
@import "modules/header";
@import "modules/progress";

body {
  background-color: #fafafa;
}

#app {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 20px;
  background-color: #ffffff;
  box-shadow: 6px 6px 7px 0 rgb(0 0 0 / 20%);
}
@media (max-width: 600px) {
  .container {
    padding: 50px 30px;
  }
}
