// Using raleway as closest available on google fonts
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");
h1,
p,
label,
button {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-weight: 600;
  margin: 1em 0 0 0;
  color: #4b494b;
}

p {
  font-weight: 400;
  margin: 0.625em 0;
  color: #abaaab;
}
